#mySwiper1 {
  width: 100px;
  height: 100%;
  background-color: transparent;

  @media (max-width: 1450px) {
    /* height: 90%; */
  }
}

#mySwiper1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#mySwiper1 .swiper-slide img {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 14px;
  object-fit: cover;
}

#mySwiper1 .swiper-button-next,
#mySwiper1 .swiper-button-prev {
  left: 50%;
  transform: rotate(90deg);
  transform-origin: left center;
}

#mySwiper1 .swiper-button-prev {
  top: 0px;
  z-index: 10;
}

#mySwiper1 .swiper-button-next {
  top: auto;
  bottom: 2px;
}

:root {
  --swiper-navigation-size: 20px;
}
